name: Build, Test, and Deploy and SonarCloud on Staging

on:
  push:
    branches:
      - Staging
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  terraform-deploy:
    runs-on: ubuntu-latest

    env:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      AWS_SESSION_TOKEN: ${{ secrets.AWS_SESSION_TOKEN }}
      AWS_REGION: ${{ secrets.AWS_REGION }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Clone Terraform Repository
        run: git clone --branch main https://github.com/Proyecto-DevOps-Gonzalo-Gaston/DevOps.git terraform

      - name: Verify Cloned Directory
        run: |
          ls -l terraform

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v1

      - name: Terraform Init
        run: |
          cd terraform/Terraform/TerraformFE
          terraform init

      - name: Terraform Plan
        run: |
          cd terraform/Terraform/TerraformFE
          terraform plan

      - name: Terraform Apply
        run: |
          cd terraform/Terraform/TerraformFE
          terraform apply -auto-approve || exit 0

      - name: Terraform Apply 2
        run: |
          cd terraform/Terraform/TerraformFE
          terraform apply -auto-approve
  Sonar:
    runs-on: ubuntu-latest
    needs: terraform-deploy
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0  
      - name: SonarCloud Scan
        uses: SonarSource/sonarcloud-github-action@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} 
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

  build:
    runs-on: ubuntu-latest
    needs : Sonar
    steps:
      - name: Check out code
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '20'

      - name: Install dependencies
        run: npm install

      - name: Build the app
        run: npm run build

      - name: Verify build directory contents
        run: |
          ls -l dist/apps/catalog

      - name: Upload build artifacts
        uses: actions/upload-artifact@v3
        with:
          name: build-artifacts
          path: dist/apps/catalog

  test:
    runs-on: ubuntu-latest
    needs : build
    steps:
      - name: Check out code
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '20'

      - name: Install dependencies
        run: npm install

      - name: Download build artifacts
        uses: actions/download-artifact@v3
        with:
          name: build-artifacts
          path: dist/apps/catalog

      - name: Run tests
        run: npm test

  deploy:
    runs-on: ubuntu-latest
    needs: test

    steps:
      - name: Download build artifacts
        uses: actions/download-artifact@v3
        with:
          name: build-artifacts
          path: dist/apps/catalog 

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-session-token: ${{ secrets.AWS_SESSION_TOKEN }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Deploy to S3
        run: |
          aws s3 sync dist/apps/catalog s3://${{ secrets.S3_ORIGIN_BUCKET_STG }} --delete

  cypress:
    runs-on: ubuntu-latest
    #needs : deploy
    steps :
      - name: Install Cypress
        run: npm install cypress --save-dev

      - name: Start application
        run: npm run start &
        env:
          CI: true

      - name: Wait for application to be ready
        run: npx wait-on http://stg-fe-gg.s3-website-us-east-1.amazonaws.com 

      - name: Run Cypress tests
        run: npx cypress run --config-file cypress/integration/cypress.json

      - name: Upload Cypress results
        uses: actions/upload-artifact@v3
        with:
          name: cypress-results
          path: cypress/screenshots/

      - name: Upload Cypress videos
        uses: actions/upload-artifact@v3
        with:
          name: cypress-videos
          path: cypress/videos/